<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FrameworkTest Suite">
	<listeners>
		<listener class-name="com.FrameworkTest.utilities.Reporting" />
	</listeners>
	<test name="eBanking Test">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="com.FrameworkTest.testCases.TC_LoginTest001" />
			<class name="com.FrameworkTest.testCases.TC_LoginTest003" />
			
		</classes>
			
			
	</test>
		
</suite>



